awscli==1.32.23
botocore==1.34.23
certifi==2023.11.17
charset-normalizer==3.3.2
colorama==0.4.4
docutils==0.16
idna==3.6
jmespath==1.0.1
pyasn1==0.5.1
pyTelegramBotAPI==4.15.2
python-dateutil==2.8.2
python-dotenv==1.0.0
PyYAML==6.0.1
requests==2.31.0
rsa==4.7.2
s3transfer==0.10.0
six==1.16.0
telebot==0.0.5
urllib3==1.26.18
